@import 'tailwindcss';
@import './scraps-theme.css';

/* Rubik font with modified vertical metrics (copied from Sentry) */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/fonts/rubik-regular.woff2') format('woff2'),
    url('/fonts/rubik-regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('/fonts/rubik-medium.woff2') format('woff2'),
    url('/fonts/rubik-medium.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('/fonts/rubik-medium.woff2') format('woff2'),
    url('/fonts/rubik-medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/roboto-mono-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/roboto-mono-medium.woff2') format('woff2');
}

/* Global styles */
body {
  font-family: var(--scraps-font-family-sans);
}

html {
  scrollbar-gutter: stable;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
